# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
end_of_line = lf
insert_final_newline = true

[*.{js,json}]
charset = utf-8
indent_size = 4
